.expanded-card-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
}
.close-expanded-card-button {
    width:fit-content;
}