.bottom-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-end;
}

.hand {
    display: flex;
    flex-flow: row-reverse nowrap;
    overflow-x: scroll;
    height: 32vh;
    flex-flow: row nowrap;
    border: solid;
    border-color: rgb(147, 111, 18);
    border-width: 1px;
    padding: 10px;
    border-radius: 20px;
}

.lands {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    height: 32vh;
    margin-right: 5vw;
    flex-flow: row nowrap;
    border: solid;
    border-color: rgb(147, 111, 18);
    border-width: 1px;
    padding: 10px;
    border-radius: 20px;
}
.creatures {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    height: 32vh;
    border: solid;
    border-color: rgb(147, 111, 18);
    border-width: 1px;
    padding: 10px;
    border-radius: 20px;
}

.non-creatures {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    height: 32vh;
    border: solid;
    border-color: rgb(147, 111, 18);
    border-width: 1px;
    padding: 10px;
    border-radius: 20px;
}

.library {
    height: 32vh;
}

.card-on-board {
    height: 32vh;
}

.card-on-board-container {
    display: flex;
    justify-content: center;
}
.board {
    background-color: rgb(3, 3, 52);
}