.bottom-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-end;
}

.hand {
    display: flex;
    flex-flow: row-reverse nowrap;
    overflow-x: scroll;
    height: 32vh;
    flex-flow: row nowrap;
    border: solid;
    border-color: rgb(147, 111, 18);
    border-width: 1px;
    padding: 10px;
    border-radius: 20px;
}

.lands {
    display: flex;
    flex-flow: row nowrap;
    height:fit-content;
    margin-right: 5vw;
    flex-flow: row nowrap;
    border: solid;
    border-color: rgb(147, 111, 18);
    border-width: 1px;
    padding: 10px;
    border-radius: 20px;
    overflow-x: scroll;
    overflow-y: visible;
}

.lands-no-cards {
    display: flex;
    flex-flow: row nowrap;
    height:32vh;
    margin-right: 5vw;
    flex-flow: row nowrap;
    border: solid;
    border-color: rgb(147, 111, 18);
    border-width: 1px;
    padding: 10px;
    border-radius: 20px;
    overflow-x: scroll;
    overflow-y: visible;
}

.creatures {
    display: flex;
    flex-flow: row nowrap;
    height:fit-content;
    border: solid;
    border-color: rgb(147, 111, 18);
    border-width: 1px;
    padding: 10px;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: scroll;
}

.creatures-no-cards {
    display: flex;
    flex-flow: row nowrap;
    height: 32vh;
    border: solid;
    border-color: rgb(147, 111, 18);
    border-width: 1px;
    padding: 10px;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: scroll;
}

.non-creatures {
    display: flex;
    flex-flow: row nowrap;
    height:fit-content;
    border: solid;
    border-color: rgb(147, 111, 18);
    border-width: 1px;
    padding: 10px;
    border-radius: 20px;
    overflow-x: scroll;
    overflow-y: visible;
}
.non-creatures-no-cards{
    display: flex;
    flex-flow: row nowrap;
    height:32vh;
    border: solid;
    border-color: rgb(147, 111, 18);
    border-width: 1px;
    padding: 10px;
    border-radius: 20px;
    overflow-x: scroll;
    overflow-y: visible;
}

.library {
    height: 32vh;
}
.board {
    background-color: rgb(3, 3, 52);
    height: fit-content;
}

.player-counters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
    flex-wrap: wrap;
}

.placeholder-text {
    color: white;
}

.library-text {
    display: flex;
    justify-content: center;
    color: white;
    margin: 0px;
}