.stat-replacement-verticle {
    position: absolute;
    right: 1vh;
    bottom: -1vh;
    background-color: black;
    color: white;
}

.stat-replacement-horizontal {
    position: absolute;
    left: 0px;
    bottom: -5vh;
    transform: rotate(90deg);
    color: white;
    background-color: black;
}